<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for statement</title>
</head>
<body>
    <h1>for statement</h1>
    {%if items %}
        <h5>items are</h5>
        <ol>
        {%for i in items%}
         <li>{{i}}</li>   
        {%endfor%}
        </ol>
    {%else%}
        <h5>no items</h5>
    {%endif%}
    {%if profile%}
            <h5>keys and values are</h5>
            {%for k,v in profile.items%}
                <h5>{{k}}:{{v}}</h5>
            {%endfor%}
        {%endif%}
</body>
</html>